@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sans-Serif;
  color: #fff;
}
body{
  background-color: #000002;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .monitor {
  width: 40px;
}
.logo{
  font-size: 20px;
  margin: 8px;
  float: right;
  color: #ddd;
  text-decoration: none;
  font-weight: 600;
  animation: slideRight 1.5s ease forwards;
}
.navbar a{
  font-weight: 500;
  font-size: 18px;
  color: #ddd;
  text-decoration: none;
  margin-left: 35px;
  transition: 2.5s;
}
.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  font-weight: 500;
  font-size: 18px;
  color: aqua;
  margin-left: 35px;
  cursor: pointer;
}
.navbar .active-link {
  text-decoration: underline;
  text-decoration-color: green;
  font-weight: 500;
  font-size: 18px;
  color: aqua;
}
.home{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
  animation: slideRight 1.5s ease forwards;
}
.home-content{
  line-height: 1.5;
  max-width: 600px;
  animation: zoomIn 1.5s ease forwards;
}
.home-content p{
  margin-bottom: 5px;
}
.home-content h1{
  font-size: 56;
  font-weight: 700;
  margin: 3px 0;
}
.home-content h1{
  font-size: 32px;
  font-weight: 500;
}
.home-content h3 span {
  color: #0ef;
}
.home-content p{
  font-size: 16px;
}
.home-img img{
  max-width: 300px;
  margin-left: 50px;
  animation: slideTop 1.5s ease forwards;
}
.social a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 60%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
}
.sakti {
  width: 50px;
  height: 50px;
  background: #000;
  margin-left: 25px;
}
.sakti .ejaan{
  color: red;
  font-size: 17px;
  padding: 5px;
  font-weight: 450;
  font-family: "Unlock", sans-serif;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 10;
  background-color: black;
  width: 650px;
  height: 450px;
  overflow-y: scroll;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}
.huruf-awal {
  color: red;
}
ol li {
  margin: 13px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.footer {
  text-align: center;
  padding: 5px;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", Sans-Serif;
}

/*animasi*/
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}